<!DOCTYPE html>
<html>
  <%- include ../partials/head %>

  <body>
    <% include ../partials/navbar %>

    <div class="container">
      
        <h1>Patient Details</Details></h1>

        <table id="patientTable" class="table table-striped table-bordered">
          <thead>
            <tr>
              <% if (locals.user.role !== 'dataEntrySpecialist') { %>
                <th>Creator ID</th>
                <th>Creator Name</th>
                <th>Create Date</th>
              <% } %>
            <th>FirstName</th>
            <th>LastName</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Birth date</th>
            <th>Phone Number</th>
            <th>Lab Name</th>
            <th>Doctor Service</th>
            <th>Insurance Type</th>
            <th>Test Type</th>
            <th>Sample Status</th>

            <% if (locals.user.role !== 'dataEntrySpecialist') { %>
            <th>Outstanding Action Items</th>
            <th>Quality Control Comments</th>
            <% } %>

            <th>Edit or Delete Data</th>
            </tr>
          </thead>

        <tbody>
        <% for (let i = 0; i < patientsData.length; i++) { %>
          <tr>
            <% if (locals.user.role !== 'dataEntrySpecialist') { %>
              <td><%= patientsData[i].creatorId %></td>
              <td><%= patientsData[i].creatorName %></td>
              <td><%= patientsData[i].createDate %></td>
            <% } %>
            <td><%= patientsData[i].firstName %></td>
            <td><%= patientsData[i].lastName %></td>
            <td><%= patientsData[i].state %></td>
            <td><%= patientsData[i].zipcode %></td>
            <td><%= patientsData[i].birthdate %></td>
            <td><%= patientsData[i].phoneNumber %></td>
            <td><%= patientsData[i].labName %></td>
            <td><%= patientsData[i].doctorService %></td>
            <td><%= patientsData[i].insuranceType %></td>
            <td><%= patientsData[i].testType %></td>
            <td><%= patientsData[i].sampleStatus %></td>

            <% if (locals.user.role !== 'dataEntrySpecialist') { %>
            <td><%= patientsData[i].outstandingActionItems %></td>
            <td><%= patientsData[i].qcComments %></td>
            <% } %>
            <td>
              <a href="/patients/update?_id=<%=patientsData[i]._id%>" class="btn btn-warning btn-sm">Edit</a>
              <a href="/patients/delete?_id=<%=patientsData[i]._id%>" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      
    </div>
    <% include ../partials/scripts %>

    <script>
      $(document).ready( function () {
        $('#patientTable').DataTable({
          responsive:true
        });
      });
  </script>

  </body>

</html>