<!DOCTYPE html>
<html>
  <%- include ../partials/head %>

  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>Patient Details</Details></h1>
      <table id="patientTable" class="table table-striped table-bordered">
        <thread>
          <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Birth date</th>
            <th>Phone Number</th>
            <th>Lab Name</th>
            <th>Doctor Service</th>
            <th>Insurance Type</th>
            <th>Sample Status</th>
            <th>Test Type</th>
          </tr>
        </thread>

        <% for (let i = 0; i < patientsData.length; i++) { %>
          <tr>
            <td><%= patientsData[i].firstName %></td>
            <td><%= patientsData[i].lastName %></td>
            <td><%= patientsData[i].state %></td>
            <td><%= patientsData[i].zipcode %></td>
            <td><%= patientsData[i].birthdate %></td>
            <td><%= patientsData[i].phoneNumber %></td>
            <td><%= patientsData[i].labName %></td>
            <td><%= patientsData[i].doctorService %></td>
            <td><%= patientsData[i].insuranceType %></td>
            <td><%= patientsData[i].sampleStatus %></td>
            <td><%= patientsData[i].testType %></td>
            <td>
              <a href="/patients/delete?_id=<%=patientsData[i]._id%>" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
            </td>
          </tr>
          <% } %>
        
      </table>
      
    </div>
    <% include ../partials/scripts %>
  </body>
</html>