<!DOCTYPE html>
<html>
  <%- include ../partials/head %>

  <body>
    <% include ../partials/navbar %>

        <div class="container mt-5">
            <div class="col-md-8 offset-md-2">
            <h1>Update Patient</h1>
            
          <form method= "post" action="/patients/update" class="row g-3">
      
            <input type="hidden" name="_id" value="<%= patientsData._id %>">
           
            <div class="col-md-6 mt-3">
          <label for="creatorId">Creator ID:</label>
          <input type="text" id="creatorId"  name="creatorId" class="form-control" value="<%=patientsData.creatorId%>"/>
            </div>
      
            <div class="col-md-6 mt-3">
          <label for="creatorName">Creator Name:</label>
          <input type="text" id="creatorName"  name="creatorName" class="form-control" value="<%=patientsData.creatorName%>"/>
            </div>
      
            <div class="col-md-6 mt-3">
          <label for="createDate">Create Date:</label>
          <input type="date" id="createDate" name="createDate" class="form-control" value="<%=patientsData.createDate%>" required/>
            </div>
      
            <div class="col-md-6 mt-3">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" class="form-control" value="<%=patientsData.firstName%>"/>
            </div>
      
            <div class="col-md-6 mt-3">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" class="form-control" value="<%=patientsData.lastName%>"/>
            </div>
      
            <div class="col-md-6 mt-3">
          <label for="birthdate">Birthdate:</label>
          <input type="date" id="birthdate" name="birthdate" class="form-control" value="<%=patientsData.birthdate%>" required/>
            </div>
      
            <div class="col-md-6 mt-3">
          <label for="zipcode">Zipcode:</label>
          <input type="text" id="zipcode" name="zipcode" class="form-control" value="<%=patientsData.zipcode%>"/>
            </div>
      
            <div class="col-md-6 mt-3">
          <label for="state">State:</label>
          <input type="text" id="state" name="state" class="form-control" value="<%=patientsData.state%>"/>
            </div>
      
            <div class="col-md-6 mt-3">
          <label for="phoneNumber">Phone Number:</label>
          <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" value="<%=patientsData.phoneNumber%>"/>
            </div>
      
            <div class="col-md-6 mt-3">
                <label for="insuranceType">Insurance Type:</label>
                <select id="insuranceType" name="insuranceType" class="form-control" required>
                  <option value="" <%= patientsData.insuranceType === '' ? 'selected' : '' %>>Select an option</option>
                  <option value="Medicare" <%= patientsData.insuranceType === 'Medicare' ? 'selected' : '' %>>Medicare</option>
                  <option value="Medicaid" <%= patientsData.insuranceType === 'Medicaid' ? 'selected' : '' %>>Medicaid</option>
                  <option value="Private" <%= patientsData.insuranceType === 'Private' ? 'selected' : '' %>>Private</option>
                </select>
              </div>
              
          
          <div class="col-md-6 mt-3">
            <label for="labName">Lab Name:</label>
            <input type="text" id="labName" name="labName" class="form-control" value="<%=patientsData.labName%>"/>
              </div>
      
          <div class="col-md-6 mt-3">
            <label for="testType">Test Type:</label>
            <select id="testType" name="testType" class="form-control" required>
              <option value="" <%= patientsData.testType === '' ? 'selected' : '' %>>Select an option</option>
              <option value="Cardio" <%= patientsData.testType === 'Cardio' ? 'selected' : '' %>>Cardio</option>
              <option value="PGX" <%= patientsData.testType === 'PGX' ? 'selected' : '' %>>PGX</option>
              <option value="CGX" <%= patientsData.testType === 'CGX' ? 'selected' : '' %>>CGX</option>
            </select>
          </div>
          
        
          
          
      
            <div class="col-md-6 mt-3">
              <label for="doctorService">Doctor Service:</label>
              <input type="text" id="doctorService" name="doctorService" class="form-control" value="<%=patientsData.doctorService%>"/>
                </div>
          
                <div class="col-md-6 mt-3">
                    <label for="sampleStatus">Sample Status:</label>
                    <select id="sampleStatus" name="sampleStatus" class="form-control" required>
                      <option value="" <%= patientsData.sampleStatus === '' ? 'selected' : '' %>>Select Sample Status</option>
                      <option value="Sample Collected" <%= patientsData.sampleStatus === 'Sample Collected' ? 'selected' : '' %>>Sample Collected</option>
                      <option value="QC Reject" <%= patientsData.sampleStatus === 'QC Reject' ? 'selected' : '' %>>QC (Quality-Control) Reject</option>
                      <option value="Lab Rejected" <%= patientsData.sampleStatus === 'Lab Rejected' ? 'selected' : '' %>>Lab Rejected</option>
                      <option value="Reject Notice Sent" <%= patientsData.sampleStatus === 'Reject Notice Sent' ? 'selected' : '' %>>Reject Notice Sent</option>
                      <option value="Ready to Ship" <%= patientsData.sampleStatus === 'Ready to Ship' ? 'selected' : '' %>>Ready to Ship</option>
                      <option value="Shipped" <%= patientsData.sampleStatus === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                      <option value="Ready for Doctor" <%= patientsData.sampleStatus === 'Ready for Doctor' ? 'selected' : '' %>>Ready for Doctor</option>
                      <option value="Doctor Review" <%= patientsData.sampleStatus === 'Doctor Review' ? 'selected' : '' %>>Doctor Review</option>
                      <option value="Signed by Doctor" <%= patientsData.sampleStatus === 'Signed by Doctor' ? 'selected' : '' %>>Signed by Doctor</option>
                      <option value="Results Available" <%= patientsData.sampleStatus === 'Results Available' ? 'selected' : '' %>>Results Available</option>
                    </select>
                  </div>
                  
      
      
      
      
      <!-- Outstanding Action Items -->
      <div class="col-md-6 mt-3">
        <label for="outstandingActionItems">Outstanding Action Items:</label>
        <input type="text" id="outstandingActionItems" name="outstandingActionItems" class="form-control" value="<%=patientsData.outstandingActionItems%>"/>
      </div>
        

       


      <div class="col-12 text-center mt-4">
        <button type="submit" class="btn btn-primary btn-lg"> Save and Update</button>
        </div>
      </form>
      
    </div>
    <% include ../partials/scripts %>
  </body>
</html>